* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 800px;
  margin: 10vh auto;
}

/*=================================================TaxesApp=========================================================*/

/*************************************************Form***************************************************************/

.taxesForm {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 15vh auto;
}

.taxesForm div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

/*********************************************result********************/

.result {
  margin-bottom: 10vh;
}

.result p {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
