* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.9em;
  max-width: 1400px;
  margin: 10vh auto;
  text-align: center;
  background-color: pink;
}
/********************************************header*******************************************/
.App {
  top: 5vh;
  right: 5%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

.chooseAppOptions {
  display: none;
}

.chooseAppOptions.active {
  display: block;
  cursor: pointer;
}

.chooseAppSelect {
  cursor: pointer;
  width: 30%;
}

.chooseApp {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*=================================================TaxesApp=========================================================*/

.taxesApp {
  display: none;
}

.taxesApp.active {
  display: block;
}

.taxesApp2 {
  display: none;
}

.taxesApp2.active {
  display: block;
}

.taxesApp2 h2 {
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.resultPercent {
  margin-bottom: 3vh;
}

.resultMoney {
  margin-bottom: 3vh;
}

/*************************************************Form***************************************************************/

.taxesForm {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 10vh auto;
  border: 5px double red;
  padding: 4%;
  border-radius: 15px;
}

.taxesForm div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

.isMarried {
  max-width: 170px;
  margin: 0 auto;
}

.married {
  margin-right: 100px;
}

.salary {
  background-color: #ffc0cb;
  border: 2px solid red;
  border-radius: 15px;
  padding: 2% 5%;
}

.salary:focus {
  outline: none;
  border: 2px solid red;
  background-color: #f7a3b1;
}

.count {
  background-color: transparent;
  padding: 4%;
  border: 4px solid red;
  border-radius: 15px;
  font-size: 1.3em;
  cursor: pointer;
  transition: 0.3s;
}

.count:hover {
  border: 4px solid rgb(232, 140, 11);
  transition: 0.3s;
}

/*********************************************result********************/

.result {
  display: none;
}

.result.active {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 8vh;
  border: 1px solid black;
}

.result.active p {
  max-width: 600px;
  gap: 300px;
  display: flex;
  justify-content: space-between;
  margin: 2vh auto;
}

/******************************************footer*****************************************************/

footer {
  display: flex;
  gap: 5vh;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-between;
}
