* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.9em;
  max-width: 1400px;
  margin: 5vh auto;
  text-align: center;
  background-color: pink;
  font-size: 14px;
}

/********************************************header*******************************************/

.mainTitle{
  margin-top: 5vh;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appChoose_buttons{
  display: flex;
  margin: 5vh 0 5vh 0;
  justify-content: space-around;
  width: 50%;
}

.App button{
  padding: 2% 4%;
  background-color: #FFC0CB;
  border: none;
  cursor: pointer;
  box-shadow: -6px -6px 14px rgba(244, 238, 245, 0.45), 6px 6px 10px rgba(114, 94, 121, 0.29);
}

button.active{
  box-shadow: inset -6px -6px 14px rgba(244, 238, 245, 0.45), inset 6px 6px 10px rgba(114, 94, 121, 0.29);
}


/*=================================================TaxesApp====================================================*/

.taxesApp {
  display: none;
}

.taxesApp.active {
  display: block;
}

.taxesApp2 {
  display: none;
}

.taxesApp2.active {
  display: block;
}

.taxesApp2 h2 {
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.resultPercent {
  margin-bottom: 3vh;
}

.resultMoney {
  margin-bottom: 3vh;
}

/*************************************************Form***************************************************************/

.taxesForm {
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 5vh auto;
  background-color: pink;
  padding: 4%;
  border-radius: 15px;
  box-shadow: -6px -6px 14px rgba(244, 238, 245, 0.45), 6px 6px 10px rgba(114, 94, 121, 0.29);
  position: relative;
}

.taxesForm div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

.input_salary{
 gap: 15%;
}

.taxesForm label{
  line-height: 1.5em;
}


.isMarried {
  max-width: 170px;
  margin: 0 auto;
}

.married {
  margin-right: 100px;
}

.married{
  visibility: hidden;
}

.statusMarried::after{
  content: "";
  height: 40px;
  width: 40px;
  display: block;
  box-shadow: inset -6px -6px 14px rgba(244, 238, 245, 0.45), inset 6px 6px 10px rgba(114, 94, 121, 0.29);
  position: absolute;
  left: 20%;
  top: 29%;
  cursor: pointer;
}

.statusMarried.active::after{
  content: "x";
  height: 40px;
  width: 40px;
  display: flex;
  box-shadow: inset -6px -6px 14px rgba(244, 238, 245, 0.45), inset 6px 6px 10px rgba(114, 94, 121, 0.29);
  position: absolute;
  left: 20%;
  top: 29%;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 1.5em;
}

.statusNotMarried::after{
  content: "";
  height: 40px;
  width: 40px;
  display: block;
  box-shadow: inset -6px -6px 14px rgba(244, 238, 245, 0.45), inset 6px 6px 10px rgba(114, 94, 121, 0.29);
  position: absolute;
  left: 20%;
  top: 46%;
  cursor: pointer;
}

.statusNotMarried.active::after{
  content: "x";
  height: 40px;
  width: 40px;
  display: flex;
  box-shadow: inset -6px -6px 14px rgba(244, 238, 245, 0.45), inset 6px 6px 10px rgba(114, 94, 121, 0.29);
  position: absolute;
  left: 20%;
  top: 46%;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 1.5em;
}

.salary {
  background-color: #ffc0cb;
  box-shadow: inset -6px -6px 14px rgba(244, 238, 245, 0.45), inset 6px 6px 10px rgba(114, 94, 121, 0.29);
  border-radius: 15px;
  padding: 2% 5%;
  border: none;
}

.salary:focus {
  outline: none;
  background-color: #f7a3b1;
}

.count {
  background-color: transparent;
  padding: 4%;
  border-radius: 15px;
  font-size: 1.3em;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: -6px -6px 14px rgba(244, 238, 245, 0.45), 6px 6px 10px rgba(114, 94, 121, 0.29);
  border: none;
}

/*.count:hover {
  transition: 0.3s;
}*/

.count.mousedown {
  box-shadow: inset -6px -6px 14px rgba(244, 238, 245, 0.45), inset 6px 6px 10px rgba(114, 94, 121, 0.29);
}

/*********************************************result********************/

.result_container {
  box-shadow: -6px -6px 14px rgba(244, 238, 245, 0.45), 6px 6px 10px rgba(114, 94, 121, 0.29);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 8vh;
  position: absolute;
  top: 50%;
  left: 70%;
}

.result_container {
  padding-top: 5vh;
  width: 24%;
  height: 40%;
  border-radius: 15px;
}

.result_container h1 {
  margin-bottom: 5vh;
  font-size: 1.5em;
}

.result {
  display: none;
}

.result_item_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.4em;
}

.result.active {
  display: block;
  width: 100%;
}

.result.active p {
  max-width: 600px;
  gap: 300px;
  display: flex;
  justify-content: space-between;
  margin: 2vh auto;
}

/******************************************SecondTaxesApp*****************************************************/


label.fromBrutto::before{
  content: "";
  height: 40px;
  width: 40px;
  display: flex;
  box-shadow: inset -6px -6px 14px rgba(244, 238, 245, 0.45), inset 6px 6px 10px rgba(114, 94, 121, 0.29);
  position: absolute;
  left: 40%;
  top: -45%;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
}

label.fromBrutto.active::before{
  content: "x";
  height: 40px;
  width: 40px;
  display: flex;
  box-shadow: inset -6px -6px 14px rgba(244, 238, 245, 0.45), inset 6px 6px 10px rgba(114, 94, 121, 0.29);
  position: absolute;
  left: 40%;
  top: -45%;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 1.5em;
}


label.fromNetto::before {
  content: "";
  height: 40px;
  width: 40px;
  display: flex;
  box-shadow: inset -6px -6px 14px rgba(244, 238, 245, 0.45), inset 6px 6px 10px rgba(114, 94, 121, 0.29);
  position: absolute;
  left: 40%;
  top: -50%;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
}

label.fromNetto.active::before {
  content: "x";
  height: 40px;
  width: 40px;
  display: flex;
  box-shadow: inset -6px -6px 14px rgba(244, 238, 245, 0.45), inset 6px 6px 10px rgba(114, 94, 121, 0.29);
  position: absolute;
  left: 40%;
  top: -50%;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 1.5em;
}

div.NettoBrutto {
  font-size: 1.2em;
  margin-bottom: 4vh;
  font-weight: 700;
  position: relative;
}

input.NettoBrutto {
  visibility: hidden;
}

.taxes_container{
  padding: 2vh 0 4vh 0;
  box-shadow: -6px -6px 14px rgba(244, 238, 245, 0.45), 6px 6px 10px rgba(114, 94, 121, 0.29);
}

.taxesAmountCounter{
  display: flex;
  justify-content: space-around;
  padding-right: 20%;
  padding-left: 20%;
  margin-bottom: 10vh;
  position: relative;
  margin-top: 10vh;
}

input.TaxesAmount{
  visibility: hidden;
}

label.for19::before{
  content: "";
  height: 40px;
  width: 40px;
  display: flex;
  box-shadow: inset -6px -6px 14px rgba(244, 238, 245, 0.45), inset 6px 6px 10px rgba(114, 94, 121, 0.29);
  position: absolute;
  left: 28%;
  top: -70%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

label.for19.active::before{
  content: "x";
  height: 40px;
  width: 40px;
  display: flex;
  box-shadow: inset -6px -6px 14px rgba(244, 238, 245, 0.45), inset 6px 6px 10px rgba(114, 94, 121, 0.29);
  position: absolute;
  left: 28%;
  top: -70%;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  color: red;
}

label.for17::before{
  content: "";
  height: 40px;
  width: 40px;
  display: flex;
  box-shadow: inset -6px -6px 14px rgba(244, 238, 245, 0.45), inset 6px 6px 10px rgba(114, 94, 121, 0.29);
  position: absolute;
  left: 58%;
  top: -70%;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
}

label.for17.active::before{
  content: "x";
  height: 40px;
  width: 40px;
  display: flex;
  box-shadow: inset -6px -6px 14px rgba(244, 238, 245, 0.45), inset 6px 6px 10px rgba(114, 94, 121, 0.29);
  position: absolute;
  left: 58%;
  top: -70%;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  color: red;
}

.countTaxes{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vh;
  align-items: center;
}

.money{
  font-size: 1.5em;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.getTaxes{
  background-color: transparent;
  padding: 1% 2%;
  border-radius: 15px;
  font-size: 1.3em;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: -6px -6px 14px rgba(244, 238, 245, 0.45), 6px 6px 10px rgba(114, 94, 121, 0.29);
  border: none;
}

.getTaxes.mousedown{
  box-shadow: inset -6px -6px 14px rgba(244, 238, 245, 0.45), inset 6px 6px 10px rgba(114, 94, 121, 0.29);
}

.moneyInput{
  padding: 2% 4%;
  box-shadow: inset -6px -6px 14px rgba(244, 238, 245, 0.45), inset 6px 6px 10px rgba(114, 94, 121, 0.29);
  background: transparent;
  border:none;
}

.moneyInput:focus{
  outline: none;
}

.taxesResult{
  box-shadow: -6px -6px 14px rgba(244, 238, 245, 0.45), 6px 6px 10px rgba(114, 94, 121, 0.29);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
  font-size: 1.2em;
}

.for19, .for17{
  font-size: 1.2em;
  font-weight: 700;
}